.container {
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  /* Cette classe définit la mise en page du footer */
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }
  
  .footer button {
    width: 100%;
    box-sizing: border-box;
  }

  /* Style de base pour les inputs */
input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style pour les inputs lorsqu'ils sont en focus */
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}

/* Style pour les inputs lorsqu'ils sont en hover */
input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover {
  border-color: #007bff;
}

/* Style pour les boutons */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* Style pour les boutons au survol */
button[type="submit"]:hover {
  background-color: #0056b3;
}