.modal-dialog {
    max-width: 80%; /* Ajustez la largeur maximale selon vos besoins */
    margin: 1rem auto; /* Centre la modale horizontalement avec un espace autour */
  }
  
  /* Styles pour le contenu de la modale */
  .container {
    padding: 1rem; /* Ajoute un espace autour du contenu de la modale */
  }
  
  /* Styles pour l'icône de scanner */
  .icon-scanner {
    font-size: 3rem; /* Taille de l'icône de scanner */
    margin-bottom: 1rem; /* Ajoute un espace en bas de l'icône */
  }
  


