
      <div class="modal-header">
        <h5 class="modal-title" id="manualEntryModalLabel">Manual Entry</h5>
        <button type="button" class="btn-close" (click)="close()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="mb-3">
            <label for="serviceTag" class="form-label">Service Tag</label>
            <input type="text" id="serviceTag" class="form-control" [(ngModel)]="serviceTag" (input)="validateInput()">
          </div>
          <div class="mb-3">
            <label for="confirmServiceTag" class="form-label">Confirm Service Tag</label>
            <input type="text" id="confirmServiceTag" class="form-control" [(ngModel)]="scannedServiceTag" (input)="validateInput()">
          </div>
          <div *ngIf="serviceTag !== scannedServiceTag && scannedServiceTag !== ''" class="text-danger">
            Service Tags do not match
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
        <button type="button" class="btn btn-primary"  (click)="submit()" [disabled]="!isValid">Submit</button>
      </div>